In [17]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in /home/vscode/.local/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in /home/vscode/.local/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('WEIGHT.csv', delimiter='^', header=None)

In [20]:
df.columns = ["NDB_No", "Seq", "Amount", "Msre_Desc", "Gm_Wgt", "Num_Data_Pts", "Std_Dev"]

In [21]:
df.head()

   NDB_No  Seq  Amount               Msre_Desc  Gm_Wgt  Num_Data_Pts  Std_Dev
0    1001    1     1.0  pat (1" sq, 1/3" high)     5.0           NaN      NaN
1    1001    2     1.0                    tbsp    14.2           NaN      NaN
2    1001    3     1.0                     cup   227.0           NaN      NaN
3    1001    4     1.0                   stick   113.0           NaN      NaN
4    1002    1     1.0  pat (1" sq, 1/3" high)     3.8           NaN      NaN

In [28]:
df = df.groupby("NDB_No").aggregate(lambda x: tuple(x))

In [29]:
df.head()

,Seq,Amount,Msre_Desc,Gm_Wgt,Num_Data_Pts,Std_Dev
NDB_No,,,,,,
1001,"(1, 2, 3, 4)","(1.0, 1.0, 1.0, 1.0)","(pat (1"" sq, 1/3"" high), tbsp, cup, stick)","(5.0, 14.2, 227.0, 113.0)","(nan, nan, nan, nan)","(nan, nan, nan, nan)"
1002,"(1, 2, 3, 4)","(1.0, 1.0, 1.0, 1.0)","(pat (1"" sq, 1/3"" high), tbsp, cup, stick)","(3.8, 9.4, 151.0, 76.0)","(nan, nan, nan, nan)","(nan, nan, nan, nan)"
1003,"(1, 2)","(1.0, 1.0)","(tbsp, cup)","(12.8, 205.0)","(nan, nan)","(nan, nan)"
1004,"(1, 2, 3)","(1.0, 1.0, 1.0)","(oz, cubic inch, cup, crumbled, not packed)","(28.35, 17.0, 135.0)","(nan, nan, nan)","(nan, nan, nan)"
1005,"(1, 2, 3, 4, 5)","(1.0, 1.0, 1.0, 1.0, 1.0)","(cup, diced, cup, shredded, oz, cubic inch, sl...","(132.0, 113.0, 28.35, 17.0, 28.0)","(nan, nan, nan, nan, nan)","(nan, nan, nan, nan, nan)"

In [33]:
df_desc = pd.DataFrame([pd.Series(x) for x in df["Msre_Desc"]])
df_desc.columns = ['Msre_Desc_{}'.format(x+1) for x in df_desc.columns]

In [35]:
df_amount = pd.DataFrame([pd.Series(x) for x in df["Amount"]])
df_amount.columns = ['Amount_{}'.format(x+1) for x in df_amount.columns]

In [ ]:
df_gm_wgt = pd.DataFrame([pd.Series(x) for x in df["Gm_Wgt"]])
df_gm_wgt.columns = ['Gm_Wgt_{}'.format(x+1) for x in df_gm_wgt.columns]